* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: auto;
    padding: 60px 20px;
}

/* content */
.content {
    width: 100%;
    margin: 0 auto 60px;
    text-align: center;
}

.content-heading {
    color: #535de4;
    font-size: 16px;
    margin-bottom: 8px;
    font-weight: 600;
}

.content-heading-catcher {
    color: #101826;
    font-size: 36px;
    margin-bottom: 16px;
    font-weight: 700;
}

.content-paragraph {
    letter-spacing: -0.2px;
    color: #10182698;
    max-width: 600px;
    margin: 0 auto;
    font-size: 15px;
}

/* Cards */
.Price-section {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.price-card {
    flex: 1;
    min-width: 280px;
    max-width: 340px;
    padding: 20px;
}

.price-card-headinng {
    font-size: 14px;
    color: #1c232f;
    margin-bottom: 12px;
    font-weight: 600;
}

.price-card-price {
    color: #1c232f;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 6px;
}

.price-card-price span {
    color: #1c232f93;
    font-size: 14px;
    font-weight: 400;
}

.price-card-bottom-text {
    color: #191f2b99;
    font-size: 13px;
    margin-bottom: 22px;
}

.price-card-button {
    border: none;
    background-color: #4848e0;
    width: 100%;
    padding: 10px 0;
    color: #fff;
    border-radius: 6px;
    margin-bottom: 22px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.price-card-list-tittle {
    font-size: 14px;
    color: #1f1c39;
    font-weight: 700;
    margin-bottom: 18px;
}

.price-card-unorderd-list {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    list-style: none;
}

.price-card-unorderd-list li {
    display: flex;
    align-items: center;
    color: #1f1c39cf;
    font-size: 13px;
    line-height: 1.5;
}

.price-card-unorderd-list svg {
    height: 16px;
    width: 16px;
    fill: #4848e0;
    margin-right: 8px;
}

.price-card:nth-child(2) {
    border-left: 2px solid #1f1c3913;
    border-right: 2px solid #1f1c3913;
}
